.not-visible {
    display: none;
}

.hairTypes {
    width: 100%;
}

.member1a1 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member1a2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member1a3 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member2a1 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member2a2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member2a3 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member3a1 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member3a2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member3a3 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member4a1 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member4a2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member4a3 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member1b1 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member1b2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member1b3 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member2b1 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member2b2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member2b3 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member3b1 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member3b2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member3b3 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member4b1 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member4b2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member4b3 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member1c1 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member1c2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member1c3 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member2c1 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member2c2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member2c3 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member3c1 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member3c2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member3c3 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member4c1 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member4c2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member4c3 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}